.Card {
    border:  3px brown;
    border-radius: 10px;
    overflow: hidden;
}

.Card .Conteudo {
    background-color: #000;
    color: #fff;
}

.Card .Footer {
    background-attachment: #000;
    color: #fff
}
